/* animations.css */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .fade-in.animate-fadeIn {
    opacity: 1;
  }
  
/* Optional: Remove hover scaling animation on mobile devices */
@media (hover: none) {
  :hover {
    transform: none !important;
  }
}